{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-secondary">
            Vous êtes connecté, bienvenue {{ app.user.username }} !
        </div>
    {% endif %}

    <section class="container">
        <div class="row text-center text-secondary">
            <div class="col-md-12">
                <label for="inputUsername">Nom de Famille:</label>
                    <input type="text" value="{{ username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
            <div class="col-md-12">
                <label for="inputPassword">Mot de Passe:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="col-md-12">
                <button class="btn btn-outline-danger text-primary" type="submit">Se connecter</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    </section>
</form>
{% endblock %}
