<section class="container-fluid fixed-bottom">
    <section class="container text-center text-secondary">
        <div class="row">
            <div class="col-md-12">
                @2020 - tous droits réservés - Dessanco Life France - DLF - Fièrement développé par Jacques Blake avec beaucoup de <img src="{{ asset('images/icecream_122439.png') }}" alt="glace">
            </div>
        </div>
    </section>
</section>